*{
    margin:0;
    font-family: Arial;
    border:border-box;
}
.navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    width:100px;
    height: 50px;
}
.logo{
    background-image:url(amazon_logo.png) ;
    background-size: cover;
    width:100%;
    height: 50px;
  

}
.border{
    border:2px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
.add-icon{
display:flex;
}
.first-add{
    color:#cccc;
    margin-left:15px;
    margin-top:5px;
}
.second-add{
    color:#ffff;
    margin-left:3px;
}
.nav-search{
    display:flex;
    background-color: pink;
    width:620px;
    height:40px;
    border-radius: 4px;
    justify-content: space-evenly;
}
.nav-search:hover{
   border:2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width:50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}
.search-input{
    width:100%;
    font-size: 1rem;
    border:none;
    padding:2px;

}
.search-icon{
    width:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color:#0f1111;
    font-size:1.2rem;
}
span{
    font-size:0.7rem;
}
.nav-second{
    font-size: 14px;
    font-weight: bolder;

}
.nav-cart i{
font-size:30px;
}
.nav-cart{
    font-size:0.85rem;
    font-weight: bold;
}
/*panel*/
.panel{
    height:40px;
    background-color: #222f3d;
    display:flex;
    /**vertical**/
    align-items: center;
    /**horizontal**/
    justify-content: space-evenly;
}
.panel-ops p{
    display:inline;
    margin:10px;
}
.panel-ops{
    width:70%;
    font-size:0.85rem;
}
.panel-deals{
font-size:0.9rem;
font-weight: bold;
}
.hero-section{
    background-image: url('61lwJy4B8PL._SX3000_.jpg');
    height:350px;
   background-size: cover;
   display:flex;
   justify-content: center;
   align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color:black;
    height:40px;
    display:flex;
    align-items:center;
    justify-content: center;
    font-size:0.85rem;
    width:80%;
    margin:25px;

}
.hero-msg a{
    color:#007185;
}
.shop-section{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#e2e6e7 ;
    flex-wrap: wrap;
  
}
.box{
  
    
    height: 400px;
    background-color: white;
    padding:20px 0px 15px;
    margin-top:15px;
    width:25%;
    
}
.box-img{
    height:300px;
    margin-top:1rem;
    margin-bottom:1rem;
    width:100%;
    background-size:cover;

}
.box-content{
    margin-left:10px;
    margin-right:10px;
}
.box-content p{
    color:#007185;
}
footer{
    margin-top:15px;
}
.foot-panel1{
    height:50px;
    background-color: #37475a;
    color:white;
    display:flex;
    justify-content: center;
    align-items: center;
}
.foot-panel2{
    background-color: #222f3d;
    color:white;
    height: 300px;
    display:flex;
    justify-content: space-evenly;
    
}
ul p{
    margin-top:10px;
    font-weight: 700px;
    font-size:0.85rem ;
}
ul a{
    display:block;
    margin-top:10px;
    color:#dddddd;
    font-size: 0.7rem;
}
.foot-3{
    background-color: #222f3d;
    color:white;
    border-top:0.5px solid white;
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo1{
    background-image:url(amazon_logo.png) ;
    background-size: cover;
    width:100px;
    height: 50px;

  

}
.foot-4{
    background-color: #0f1111;
    color:white;
    height:80px;
    display:block;
    font-size:0.7rem;
    text-align:center;
    justify-content: center;
    align-items: center;
    


}
.pages{
    padding-top:5px;
   

}
.copy{
    
    padding-top:5px;
    margin-top:5px;
}
